<div class="container p-5">
  <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="mb-3">Category Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter Category"
        formControlName="name"
      />
      <label
        class="fs-6 mt-1 text-danger"
        *ngIf="addCategoryForm.get('name')?.hasError('pattern')"
        >Only characters are allowed
      </label>
      <label
        class="fs-6 mt-1 text-danger"
        *ngIf="addCategoryForm.get('name')?.hasError('required') && !addCategoryForm.get('name')?.pristine"
        >Category Name is Required
      </label>
    </div>
    <button
      type="submit"
      [disabled]="!addCategoryForm.valid"
      class="btn btn-primary mt-3"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-secondary mx-4 mt-3"
      [routerLink]="['/nav/categories']"
      routerLinkActive="router-link-active"
    >
      Back
    </button>
  </form>
</div>
