.example-container {
    height: 420px;
    max-width: 100%;
    overflow: auto;
  }
  table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td,
    th {
      width: 18%;
    }
    .view-more-btn {
      cursor: pointer;
    }