<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span>Hello , {{ currentUser.name }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="http://localhost:3000/images/users/{{currentUser.profile_picture}}"
    />

    <!-- <h4 class="name">{{ currentUser.name }}</h4> -->
    <mat-divider></mat-divider>

    <button routerLink="/nav" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <a>Home</a>
    </button>
    <button routerLink="/nav/products" mat-button class="menu-button">
      <mat-icon>card_giftcard</mat-icon>
      <span>Product</span>
    </button>
    <button
      mat-button
      class="menu-button"
      routerLink="/nav/categories"
      routerLinkActive="router-link-active"
    >
      <mat-icon>category</mat-icon>
      <span>Category</span>
    </button>
    <button routerLink="/nav/users" mat-button class="menu-button">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>menu_book</mat-icon>
      <span>Orders</span>
    </button>
    <button routerLink="/nav/my-profile" mat-button class="menu-button">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="logoutUser()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
