<!-- <p>home works!</p> -->


<div class="grid-container">
  <div class="container">
    <h1>Welcome Admin</h1>
    <div class="row">
      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h3 class="m-b-20">Total Registered Users</h3>
            <h2 class="text-right">
              <i class="fa fa-users f-left"></i><span>{{ 100 }}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h3 class="m-b-20">Total Categories</h3>
            <h2 class="text-right">
              <i class="fa fa-list-alt f-left"></i><span>{{ 500 }}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-4">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h3 class="m-b-20">Total Listed Products</h3>
            <h2 class="text-right">
              <i class="fa fa-cart-plus f-left"></i><span>{{ 200 }}</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div>
      <h1 class="text-center">Category Wise Products</h1>
      <canvas id="myChart" width="300" height="400"></canvas>
    </div>
    
    <div class="pl-2">
      <h3>Top 5 Products</h3>
      
    </div> 
  </div>
  <div>
    <canvas id="baar" width="950" height="400"></canvas>
    <h1 class="text-center">Products Order From Different Country</h1>
  </div>
</div>
