<!-- <p>home works!</p> -->


<div class="grid-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20">Today's Orders</h6>
            <h2 class="text-right">
              <i class="fa fa-cart-plus f-left"></i><span>{{ 200 }}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h6 class="m-b-20">Today's Cash On Hand</h6>
            <h2 class="text-right">
              <i class="fa fa-inr f-left"></i><span>{{ 500 }}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Users</h6>
            <h2 class="text-right">
              <i class="fa fa-users f-left"></i><span>{{ 100 }}</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20">Feedbacks</h6>
            <h2 class="text-right">
              <i class="fa fa-comments-o f-left"></i
              ><span>{{ 2000 }}</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div>
      <canvas id="myChart" width="500" height="400"></canvas>
      <h1 class="text-center">Total Category</h1>
    </div>

    <div class="p-5">
      <canvas id="baar" width="500" height="400"></canvas>
    </div>
  </div>
</div>
