<!-- <p>home works!</p> -->


<div class="grid-container">
  <div class="container">
    <div class="grid-container">
      <div class="container">
        <h1>Welcome Admin</h1>
        <div class="row">
          <div class="col-md-4 col-xl-4">
            <div class="card bg-c-blue order-card">
              <div class="card-block">
                <h3 class="m-b-20">Total Registered Users</h3>
                <h2 class="text-right">
                  <i class="fa fa-users f-left"></i><span>{{ userCount }}</span>
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-4">
            <div class="card bg-c-green order-card">
              <div class="card-block">
                <h3 class="m-b-20">Total Categories</h3>
                <h2 class="text-right">
                  <i class="fa fa-list-alt f-left"></i><span>{{ categoryCount }}</span>
                </h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-4">
            <div class="card bg-c-yellow order-card">
              <div class="card-block">
                <h3 class="m-b-20">Total Listed Products</h3>
                <h2 class="text-right">
                  <i class="fa fa-cart-plus f-left"></i><span>{{ productCount }}</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="d-flex">
    <div>
      <canvas id="myChart" width="500" height="400"></canvas>
      <h1 class="text-center">Total Category</h1>
    </div>

    <!-- <div class="p-5">
      <canvas id="baar" width="500" height="400"></canvas>
    </div> -->
  </div>
</div>
